<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Cloud Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    
</head>
<body>

    @if (!Request.IsAuthenticated)
    {
        @Html.Partial("_ViewerNavBar")
    }
    else
    {
        @Html.Partial("_UserNavBar")
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Cloud App</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
