@using AspNetIdentityV2.Utilities;
@model String

<div class="container submenu-area">
    <br />
    <ul class="nav nav-pills">
        <li role="presentation" class="@Html.MakeActiveSubMenu("Summary", Model)"><a href="@Url.Action("Index", "BusinessSetup")">Summary</a></li>
        <li role="presentation" class="@Html.MakeActiveSubMenu("System Users", Model)"><a href="@Url.Action("Index", "User")">System Users</a></li>
        <li role="presentation" class="@Html.MakeActiveSubMenu("Access Roles", Model)"><a href="@Url.Action("Index", "Role")">Access Roles</a></li>
        <li role="presentation" class="@Html.MakeActiveSubMenu("Company", Model)"><a href="@Url.Action("List", "Company")">Company</a></li>
        <li role="presentation" class="@Html.MakeActiveSubMenu("Branches", Model)"><a href="#">Branches</a></li>
        <li role="presentation" class="@Html.MakeActiveSubMenu("Employees", Model)"><a href="#">Employees</a></li>
        <li role="presentation" class="@Html.MakeActiveSubMenu("Documents", Model)"><a href="#">Documents</a></li>
    </ul>
    <br />
</div>
