@model IEnumerable<SpaCloud.Models.DbModel.XrefServiceTreatment>
@*@model SpaCloud.Models.ViewModel.ServiceTreatmentViewModel*@

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_MainMenu", "Business Settings/Services and Treatments")
@*@Html.Partial("_MainSubMenuBusinessSetup", "Services and Treatments")*@

<h4>Manage Services and Treatments</h4>
<hr />

<div class="row">

    <div class="col-md-12">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Services and Treatments 
                    
                    <button onclick='this.blur();' type="button" class="btn btn-default CreateSvcLink" data-toggle="modal" data-target="#CreateSvcModal">
                        <i style="color:#5e70ff;" class="glyphicon glyphicon-plus"></i>&nbsp;Add New Service
                    </button>

                    <button onclick='this.blur();' type="button" class="btn btn-default ManageTrtmntLink" data-toggle="modal" data-target="#ManageTrtmntModal">
                        <i style="color:#5e70ff;" class="glyphicon glyphicon-cog"></i>&nbsp;Manage Treatments
                    </button>

                </h3>
            </div>

            <table class="table table-condensed">

                @{
                    var _prevPkg = String.Empty;
                    var _currPkg = String.Empty;

                    foreach (var item in Model)
                    {
                        { _currPkg = item.Service.ServiceName; }

                        if (!String.Equals(_prevPkg, _currPkg))
                        {
                            <tr class="info">
                                <td>
                                    @if (item.Service != null)
                                    {

                                        <div class="row">
                                            <div class="col-xs-6 col-sm-8">
                                                <p style="padding-left:1em;">
                                                    <b>@item.Service.ServiceName</b>
                                                </p>
                                            </div>
                                            <div class="col-xs-6 col-sm-4">
                                                <button onclick='this.blur();' id="@item.Service.ServiceID~@item.Service.ServiceName" type="button" class="btn btn-success CreateTreatmentLink" data-toggle="modal" data-target="#CreateTreatmentModal">
                                                    <i class="glyphicon glyphicon-plus"></i>&nbsp;Add Treatments
                                                </button> |
                                                <button onclick='this.blur();' id="@item.Service.ServiceID" class="btn btn-default EditSvcLink" data-toggle="tooltip" data-placement="left" title="Edit Service">
                                                    <i style="color:#5e70ff;" class="glyphicon glyphicon-pencil"></i>
                                                </button> |

                                                <a onclick='this.blur();' style="" class="btn btn-default" href="@Url.Action("RemoveSvc", "SvcTrtmnt", new { id = item.Service.ServiceID })" data-toggle="tooltip" data-placement="right" title="Delete Service">
                                                    <i style="color:#ff7070;" class="glyphicon glyphicon-trash"></i>
                                                </a>

                                            </div>
                                        </div>


                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @if (item.Treatment != null)
                                    {
                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8">
                                                <p style="padding-left:2em;">@item.Treatment.TreatmentName (@item.Treatment.TreatmentDuration mins)</p>
                                            </div>
                                            <div class="col-xs-4 col-sm-4">

                                                @*<button onclick='this.blur();' id="@item.Treatment.TreatmentID" class="btn btn-default EditTreatmentLink" data-toggle="tooltip" data-placement="left" title="Edit Treatment">
                                                    <i style="color:#5e70ff;" class="glyphicon glyphicon-pencil"></i>
                                                </button> |*@

                                                <a onclick='this.blur();' style="" class="btn btn-default" href="@Url.Action("RemoveTreatment", "SvcTrtmnt", new { id = item.Treatment.TreatmentID })" data-toggle="tooltip" data-placement="right" title="Remove Treatment">
                                                    <i style="color:#ff7070;" class="glyphicon glyphicon-remove"></i>
                                                </a>

                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @if (item.Treatment != null)
                                    {
                                        <div class="row">
                                            <div class="col-xs-8 col-sm-8">
                                                <p style="padding-left:2em;">@item.Treatment.TreatmentName (@item.Treatment.TreatmentDuration mins)</p>
                                            </div>
                                            <div class="col-xs-4 col-sm-4">

                                                @*<button id="@item.Treatment.TreatmentID" class="btn btn-default EditTreatmentLink" data-toggle="tooltip" data-placement="left" title="Edit Treatment">
                                                    <i style="color:#5e70ff;" class="glyphicon glyphicon-pencil"></i>
                                                </button> |*@

                                                <a style="" class="btn btn-default" href="@Url.Action("RemoveTreatment", "SvcTrtmnt", new { id = item.Treatment.TreatmentID })" data-toggle="tooltip" data-placement="right" title="Remove Treatment">
                                                    <i style="color:#ff7070;" class="glyphicon glyphicon-remove"></i>
                                                </a>

                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>

                        }

                        {
                            _prevPkg = item.Service.ServiceName;

                            _currPkg = String.Empty;
                        }
                    }

                }

            </table>

            @*<div class="panel-footer">
                    <button type="button" class="btn btn-success">Add New Mapping</button>
                </div>*@


        </div>
    </div>

</div>

<div class="modal fade" id="CreateSvcModal" tabindex="-1" role="dialog" aria-labelledby="CreateSvcModalLabel">
    <div id="Create-svc-container"></div>
</div>

<div class="modal fade" id="EditSvcModal" tabindex="-1" role="dialog" aria-labelledby="EditSvcModalLabel">
    <div id="Edit-svc-container"></div>
</div>

<div class="modal fade" id="CreateTreatmentModal" tabindex="-1" role="dialog" aria-labelledby="CreateTreatmentModalLabel">
    <div id="Create-Treatment-container"></div>
</div>

<div class="modal fade" id="ManageTrtmntModal" tabindex="-1" role="dialog" aria-labelledby="ManageTrtmntModalLabel">
    <div id="Manage-Treatment-container"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {


        $('.CreateSvcLink').click(function () {

            var url = "/SvcTrtmnt/CreateSvc"; // the url to create svc in controller

            $.get(url + '/', function (data) {
                $('#Create-svc-container').html(data);
                $('#CreateSvcModal').modal('show');
            });
        });


        $('.EditSvcLink').click(function () {

            var url = "/SvcTrtmnt/EditSvc"; // the url to the controller
            var id = $(this).attr('id'); // the id that's given to each button in the list

            $.get(url + '/' + id, function (data) {
                $('#Edit-svc-container').html(data);
                $('#EditSvcModal').modal('show');
            });
        });

        $('.ManageTrtmntLink').click(function () {

            var url = "/SvcTrtmnt/ManageTrtmnt"; // the url to the controller
            //var id = $(this).attr('id'); // the id that's given to each button in the list

            $.get(url, function (data) {
            //$.get(url + '/' + id, function (data) {
                $('#Manage-Treatment-container').html(data);
                $('#ManageTrtmntModal').modal('show');
            });
        });


        $('.CreateTreatmentLink').click(function () {

            //var url = "/SvcTrtmnt/CreateTreatment"; // the url to create svc in controller
            var url = "/SvcTrtmnt/CreateTreatment2"; // the url to create svc in controller

            var id = $(this).attr('id'); // the id that's given to each button in the list

            //alert(url + '/?SvcDetails=' + id);


            //$.get(url + '/', function (data) {
            $.get(url + '/?SvcDetails=' + id, function (data) {
                $('#Create-Treatment-container').html(data);
                $('#CreateTreatmentModal').modal('show');
            });
        });


        $('[data-toggle="tooltip"]').tooltip();

    });
</script>
