@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Edit Role";
}
@Html.Partial("_MainMenu", "Business Settings/Access Roles")
@*@Html.Partial("_MainSubMenuBusinessSetup", "Access Roles")*@

<h4>Edit Role</h4>
<hr />
<br />
<br />


@Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "ManageUserRoles")

<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Role name
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name)
    </p>
    <input type="submit" value="Save" />
}

<br />
<br />