@model IQueryable<AspNetIdentityV2.Models.ApplicationRole>

@{
    ViewBag.Title = "Roles Index";
}
@Html.Partial("_MainMenu", "BusinessSetup")
@Html.Partial("_MainSubMenuBusinessSetup", "Access Roles")

<h4>Roles in System</h4>
<hr />
<br />


<p>
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Create New Role", "Create", "Role") |
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;@Html.ActionLink("Manage User Roles", "ManageUserRoles", "Role")
</p>


<br /><br />

<table class="table table-condensed table-striped table-bordered">
    <tr class="info">
        <th>Role Name</th>
        <th>Role Description</th>
        <th>Action</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.RoleDesc</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = @item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = @item.Id })
            </td>
        </tr>

    }

</table>

<br />
<br />
<br />

