@{
    ViewBag.Title = "Roles Index";
}

<h4>Roles in System</h4>
<hr />
<br />

@Html.ActionLink("Create New Role", "Create", "Role")

<br /><br />

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>

    @foreach (var role in ViewData["Roles"] as Dictionary<string, string>)
    {
        <tr>
            <td>@role.Key</td>
            <td>@role.Value</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = @role.Key }) | 
                @Html.ActionLink("Delete", "Delete", new { id = @role.Key })</td>
        </tr>
    }

</table>




