@*@model IEnumerable<SpaCloud.Models.DbModel.XrefPackageTreatment>*@
@model SpaCloud.Models.ViewModel.PackageTreatmentViewModel

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_MainMenu", "BusinessSetup")
@Html.Partial("_MainSubMenuBusinessSetup", "Packages and Treatments")
<br />

<h4>Manage Packages and Treatments</h4>
<hr />
<br />
@*<p>
        @Html.ActionLink("Create New", "Create") |
        @Html.ActionLink("Manage Packages", "Create") |
        @Html.ActionLink("Manage Treatments", "Create")
    </p>*@

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">All Packages</h3>
            </div>

            <table class="table table-striped table-condensed">

                @foreach (var item in Model.Packages)
                {
                    <tr>
                        <td>
                            <p style="padding-left:1em;">@item.PackageName</p>
                        </td>
                    </tr>
                }

            </table>

            <div class="panel-footer">
               <button type="button" class="btn btn-success">Add Package</button>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">All Treatments</h3>
            </div>

            <table class="table table-striped table-condensed">

                @foreach (var item in Model.Treatments)
                {
                    <tr>
                        <td>
                            <p style="padding-left:1em;">@item.TreatmentName</p>
                        </td>
                    </tr>
                }

            </table>

            <div class="panel-footer">
                <button type="button" class="btn btn-success">Add Treatment</button>
            </div>

        </div>
    </div>

    <div class="col-md-4">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Packages and Treatments</h3>
            </div>
            @*<div class="panel-body">
                </div>*@

            <table class="table table-condensed">

                @{
                    var _prevPkg = String.Empty;
                    var _currPkg = String.Empty;

                    foreach (var item in Model.PkgTrtmntMappings)
                    {
                        { _currPkg = item.Package.PackageName; }

                        if (!String.Equals(_prevPkg, _currPkg))
                        {
                            <tr class="info">
                                <td>
                                    <p style="padding-left:1em;"><b>@item.Package.PackageName</b> @Html.ActionLink("Add Treatments", "Add", new { id = item.Package.PackageID }) | @Html.ActionLink("Remove Package", "Delete", new { id = item.Package.PackageID })</p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p style="padding-left:2em;">@item.Treatment.TreatmentName @Html.ActionLink("Remove", "Remove", new { id = item.Treatment.TreatmentID })</p>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <p style="padding-left:2em;">@item.Treatment.TreatmentName @Html.ActionLink("Remove", "Remove", new { id = item.Treatment.TreatmentID })</p>
                                </td>
                            </tr>

                        }

                        {
                            _prevPkg = item.Package.PackageName;

                            _currPkg = String.Empty;
                        }
                    }

                }

            </table>

            <div class="panel-footer">
                <button type="button" class="btn btn-success">Add Mapping</button>
            </div>


        </div>
    </div>

</div>
