@model SpaCloud.Models.DbModel.Company

@{
    ViewBag.Title = "Create";
}
@Html.Partial("_MainMenu", "BusinessSetup")
@Html.Partial("_MainSubMenuBusinessSetup", "Company")

<h4>Create Company</h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Company</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyEmail)
                @Html.ValidationMessageFor(model => model.CompanyEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyWebSite, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyWebSite)
                @Html.ValidationMessageFor(model => model.CompanyWebSite)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyDetails, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyDetails)
                @Html.ValidationMessageFor(model => model.CompanyDetails)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyDesc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyDesc)
                @Html.ValidationMessageFor(model => model.CompanyDesc)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
